<div style="height: 100vh;">
  <div class="card">
    <div *ngIf="cartao$ | async as cartao; else loadingError">
      <div class="card-header">
        <h1>{{ cartao.nome }}</h1>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <div class="blockquote">
            <span class="fw-semibold">código do cartão: </span><span>{{ cartao.codigo }}</span>
          </div>
        </div>
        <div class="mb-3">
          <div class="blockquote">
            <span class="fw-semibold">nome do cartão: </span> <span>{{ cartao.nome }}</span>
          </div>
        </div>
        <div class="mb-3">
          <div class="blockquote">
            <span class="fw-semibold">data de fechamento: </span><span>{{ cartao.data_fechamento }}</span>
          </div>
        </div>
        <div class="mb-3">
          <div class="blockquote">
            <span class="fw-semibold">Valor utilizado no cartão: </span><span class="text-danger fw-semibold">{{ cartao.valor_total | currency }}</span>
          </div>
        </div>
        <hr>
        <div class="mb-3">
          <div class="blockquote">
            <p>Usuários:</p>
          </div>
        </div>
        <div class="mb-3">
          <div class="blockquote">
            <div *ngIf="cartao.usuarios.length != 0; then hasUsuario; else noHasUsuario;"></div>
            <ng-template #hasUsuario>
              <ul>
                <li *ngFor="let usuario of cartao?.usuarios" class="mb-2">
                  <div class="d-flex justify-content-between width12rem">
                    <div class="row w-100">
                      <div class="col">
                        <span class="fw-semibold">{{ usuario.nome }}</span>
                      </div>
                      <div class="col">
                        <span class="text-danger fw-semibold">{{ usuario.valor_total | currency }}</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </ng-template>
            <ng-template #noHasUsuario>
              <p class="mt-2 fw-semibold d-flex justify-content-center text-danger ">Nenhum usuário usou o cartão.</p>
            </ng-template>
          </div>
        </div>
        <div class="mt-5 d-flex">
          <div class="col">
            <button class="btn btn-secondary" routerLink="/home">voltar</button>
          </div>
          <div class="col d-flex justify-content-end">
            <button class="btn btn-danger" [routerLink]="['/delete-cartao', cartao?.codigo]" [queryParams]="{nome:cartao?.nome}">deletar</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        <div class="mb-3">
          <div class="blockquote d-flex align-items-center flex-column mt-3">
            <span class="fw-semibold">Erro ao carregar os detalhes do cartão</span>
            <button class="btn btn-outline-primary mt-3" (click)="onCarregarNovamente()">tentar novamente</button>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <spinner class="margin-top50"></spinner>
      </ng-template>
    </ng-template>
  </div>
</div>
