<div class="modal-content">
  <div class="modal-body">
    <form>
      <div class="mb-3  flex-column d-flex align-items-center">
        <h3>Deseja realmente deletar esse cartão?</h3>
        <p>Todas as dividas atreladas ao cartão serão deletadas!</p>
        <input type="text" class="form-control" id="codigo_cartao_delete" name="codigo"
          placeholder="Insira o código do cartão">
      </div>
    </form>
  </div>
  <div class="modal-footer  d-flex justify-content-between">
    <div class="mb-3">
        <a type="button" class="btn btn-secondary" data-bs-toggle="modal" href="{{'#modalCartaoDetalhe-'+codigoCartao}}">voltar</a>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-danger" id="btnDeletarCartao" (click)="deletarCartao()" disabled>deletar</button>
    </div>
  </div>
</div>
