<div class="container">
  <div class="row mt-4 mb-4 text-center ">
    <h1>Gestão de contas</h1>
  </div>
  <form [formGroup]="formLogin">
    <div class="row">
      <div class="mb-3">
        <label for="login" class="form-label">Login:</label>
        <input type="text" class="form-control" id="login" formControlName="login" placeholder="login">
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="senha" class="form-label">senha:</label>
        <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="senha">
      </div>
    </div>
    <div class="row">
      <div class="mt-3 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="logar()">entrar</button>
      </div>
    </div>
  </form>
</div>
