<div class="card" *ngIf="exibirCard; else esconderFormulario">
  <div class="card-header">
    <h1>{{ nomeCartao }}</h1>
  </div>
  <div class="card-body">
    <div class="mb-3 text-center">
      <div class="blockquote">
        <p>Deseja realmente deletar esse cartão?</p>
      </div>
      <div>
        <p>Todas as dividas atreladas ao cartão serão deletas!</p>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="codigoCartaoDelete" placeholder="número cartão" [(ngModel)]="codigoInputado" maxlength="4">
      <label for="codigoCartaoDelete">número cartão</label>
    </div>
    <div class="mt-4 d-flex">
      <div class="col">
        <button class="btn btn-secondary" [routerLink]="['/detalhe-cartao', codigoCartao]">voltar</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-danger" (click)="deletarCartao()" [disabled]="codigoInputado != codigoCartao">deletar</button>
      </div>
    </div>
  </div>
</div>

<ng-template #esconderFormulario>
  <div *ngIf="error$ | async; else loadingSucesso">
    <div class="mb-3">
      <div class="blockquote d-flex align-items-center flex-column mt-3">
        <span class="fw-semibold">Desculpe, erro ao deletar cartão</span>
        <button class="btn btn-outline-primary mt-3" (click)="onCarregarHome()">voltar para home</button>
      </div>
    </div>
  </div>
  <ng-template #loadingSucesso>
    <div *ngIf="cartaoDeletadoSucesso; else loading">
      <div class="alert alert-success d-flex align-items-center flex-column" role="alert">
        <h3>Cartão deletado com sucesso!</h3>
        <span>voltando p/ tela incial: {{ tempo }}</span>
      </div>
    </div>
    <ng-template #loading>
      <spinner></spinner>
    </ng-template>
  </ng-template>
</ng-template>


