<!-- <div class="container">
  <div class="row mt-5 ms-0 ps-0 pe-0 container">
    <h1 class="h1 mt-5">Helen vitoria</h1>
  </div>

  <div class="row mt-4 ms-0 ps-0 pe-0 container">
    <div class="card text-bg-light mb-3 p-0 pb-2">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Cartões</h4>
        <div>
          <a type="button" class="bi bi-plus-circle mb-1 " style="font-size: 1.8rem;" data-bs-toggle="modal" href="#modalCartaoCadastro"></a>
          <app-ng-modal-generico [dataBsTarget]="'modalCartaoCadastro'">
            <app-cadastro-cartao class="corpo width100"></app-cadastro-cartao>
          </app-ng-modal-generico>
        </div>
      </div>

      <div class="card-body pb-0 pt-3">
        <div class="card mb-3" *ngFor="let cartao of cartoes">
          <div class="card-body p-0">
            <a type="button" class="d-flex align-items-center p-2" data-bs-toggle="modal" href="{{ '#modalCartaoDetalhe-' + cartao.codigo }}">
              <h5 class="card-title me-2">{{ cartao.nome }}</h5>
              <h6>({{ cartao.codigo }})</h6>
            </a>

            <app-ng-modal-generico [dataBsTarget]="'modalCartaoDetalhe-'+cartao.codigo">
              <app-detalhe-cartao class="corpo width100" [cartao]="cartao"></app-detalhe-cartao>
            </app-ng-modal-generico>

            <app-ng-modal-generico [dataBsTarget]="'modalDeleteCartao-'+cartao.codigo">
              <app-delete-cartao class="corpo width100" [codigoCartao]="cartao.codigo"></app-delete-cartao>
            </app-ng-modal-generico>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 ms-0 ps-0 pe-0 container">
    <div class="card text-bg-light mb-3 p-0 pb-2">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Usuários</h4>
        <div>
          <a type="button" class="bi bi-plus-circle mb-1 " style="font-size: 1.8rem;" routerLink="cadastrarUsuario"></a>
        </div>
      </div>
      <div class="card-body">

        <div class="card mb-3" *ngFor="let usuario of usuarios">
          <div class="card-body p-0">
            <a type="button" class="d-flex align-items-center p-2" [routerLink]="['/detalheUsuario', usuario.codigo]">
              <h5 class="card-title me-2">{{usuario.nome}}</h5>
              <h5 class="text-danger">{{usuario.valor}}</h5>
            </a>
        </div>
      </div>
    </div>
  </div>

</div> -->
