<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Cartões
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCartao" data-bs-whatever="@getbootstrap">
          cadastrar cartão
        </button>
        <app-ng-modal-generico [dataBsTarget]="'modalCartao'">
          <app-cadastro-cartao class="corpo"></app-cadastro-cartao>
        </app-ng-modal-generico>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartao of cartoes" id="{{ 'trId'+cartao.codigo }}" data-bs-toggle="modal" data-bs-whatever="@getbootstrap" >
              <td>{{ cartao.codigo }}</td>
              <td>{{ cartao.nome }}</td>
              <td>{{ cartao.data_fechamento }}</td>
              <app-ng-modal-generico [dataBsTarget]="'modalCartaoDetalhe'+cartao.codigo">
                <app-detalhe-cartao class="corpo" [cartao]="cartao"></app-detalhe-cartao>
              </app-ng-modal-generico>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Usuários
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body ">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>Larry the Bird</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
