<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ cartao?.nome }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="fw-semibold">Código do cartão: </label>
      <p class="mb-0 fw-semibold">{{ cartao?.codigo }}</p>
    </div>
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="fw-semibold">Nome do cartão: </label>
      <p class="mb-0 fw-semibold">{{ cartao?.nome }}</p>
    </div>
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="fw-semibold">Data de fechamento: </label>
      <p class="mb-0 fw-semibold">{{ cartao?.data_fechamento }}</p>
    </div>
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="fw-semibold">Valor utilizado no cartão: </label>
      <p class="mb-0 fw-semibold text-danger fw-semibold">{{ cartao?.valor_total | currency }}</p>
    </div>
    <div class="gap-2 margin-top-bottom08">
      <label class="fw-semibold">Usuários: </label>
      <div *ngIf="isUsuarios; then hasUsuario; else noHasUsuario;"></div>
      <ng-template #hasUsuario>
        <ul *ngFor="let usuario of cartao?.usuarios" class="mb-1">
          <li>
            <div class="d-flex justify-content-between width12rem">
              <span class="fw-semibold">{{ usuario.nome }}</span>
              <span class="text-danger fw-semibold">{{ usuario.valor | currency }}</span>
            </div>
          </li>
        </ul>
      </ng-template>
      <ng-template #noHasUsuario>
        <p class="mb-0 fw-semibold d-flex justify-content-center text-danger ">Nenhum usuário usou o cartão.</p>
      </ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <a type="button" class="btn btn-danger" id="deletarCartao" data-bs-toggle="modal" href="{{'#modalDeleteCartao-'+cartao?.codigo}}">deletar</a>
  </div>
</div>

