<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ cartao?.nome }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="h6">Código do cartão: </label>
      <p class="h6">{{ cartao?.codigo }}</p>
    </div>
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="h6">Nome do cartão: </label>
      <p class="h6">{{ cartao?.nome }}</p>
    </div>
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="h6">Data de fechamento: </label>
      <p class="h6">{{ cartao?.data_fechamento }}</p>
    </div>
    <div class="d-flex gap-2 margin-top-bottom08">
      <label class="h6">Valor utilizado no cartão: </label>
      <p class="h6">R$500,00</p>
    </div>
    <div class="gap-2 margin-top-bottom08">
      <label class="h6">Usuários: </label>
      <ul>
        <li>
          <div class="d-flex justify-content-between width12rem">
            <span>Luiza</span>
            <span>R$250,00</span>
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between width12rem">
            <span>Ramon</span>
            <span>R$250,00</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" id="deletarCartao">deletar</button>
  </div>
</div>
