<div class="card" *ngIf="exibirCard; else esconderFormulario">
  <div class="card-header">
    <h1>Cadastro cartão</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioCadastroCartao">
      <div class="mb-3">
        <label for="codigoCartao" class="form-label">Código cartão:</label>
        <input type="text" class="form-control" id="codigoCartao" formControlName="codigoCartao" maxlength="4">
      </div>
      <div class="mb-3">
        <label for="nomeCartao" class="form-label">Nome do cartão:</label>
        <input type="text" class="form-control" id="nomeCartao" formControlName="nomeCartao">
      </div>
      <div class="mb-3">
        <label for="dataFechamento" class="form-label">Data fechamento:</label>
        <input type="text" class="form-control" id="dataFechamento" formControlName="dataFechamento">
      </div>
      <div class="row mt-4">
        <div class="col">
          <button class="btn btn-secondary" routerLink="/">voltar</button>
        </div>
        <div class="col d-flex justify-content-end">
          <button class="btn btn-primary" (click)="cadastrarCartao()">cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #esconderFormulario>
  <div *ngIf="error$ | async; else loadingSucesso">
    <erro-generico [mensagemErro]="'Desculpe, erro ao cadastrar cartão'"></erro-generico>
  </div>
  <ng-template #loadingSucesso>
    <div *ngIf="cartaoCadastradoSucesso; else loading">
      <mensagem-sucesso [mensagemSucesso]="'Cartão cadastrado com sucesso!'"></mensagem-sucesso>
    </div>
    <ng-template #loading>
      <spinner></spinner>
    </ng-template>
  </ng-template>
</ng-template>
