<div class="card" *ngIf="exibirCard; else esconderFormulario">
  <div class="card-header">
    <h1>Cadastro cartão</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioCadastroCartao">
      <div class="mb-3">
        <label for="codigoCartao" class="form-label">Código cartão:</label>
        <input type="text" class="form-control" id="codigoCartao" formControlName="codigoCartao">
      </div>
      <div class="mb-3">
        <label for="nomeCartao" class="form-label">Nome do cartão:</label>
        <input type="text" class="form-control" id="nomeCartao" formControlName="nomeCartao">
      </div>
      <div class="mb-3">
        <label for="dataFechamento" class="form-label">Data fechamento:</label>
        <input type="text" class="form-control" id="dataFechamento" formControlName="dataFechamento">
      </div>
      <div class="row mt-4">
        <div class="col">
          <button class="btn btn-secondary" routerLink="/">voltar</button>
        </div>
        <div class="col d-flex justify-content-end">
          <button class="btn btn-primary" (click)="cadastrarCartao()">cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #esconderFormulario>
  <div *ngIf="error$ | async; else loadingSucesso">
    <div class="mb-3">
      <div class="blockquote d-flex align-items-center flex-column mt-3">
        <span class="fw-semibold">Desculpe, erro ao cadastrar cartão</span>
        <button class="btn btn-outline-primary mt-3" (click)="onCarregarHome()">Voltar para home</button>
      </div>
    </div>
  </div>
  <ng-template #loadingSucesso>
    <div *ngIf="cartaoCadastradoSucesso; else loading">
      <div class="alert alert-success d-flex align-items-center flex-column" role="alert">
        <h3>Cartão cadastrado com sucesso!</h3>
        <span>voltando p/ tela incial: {{ tempo }}</span>
      </div>
    </div>
    <ng-template #loading>
      <spinner></spinner>
    </ng-template>
  </ng-template>
</ng-template>
