<div style="height: 100vh;">
  <div class="card" *ngIf="exibirCard; else esconderFormulario">
    <div class="card-header">
      <h1>Cadastro cadastro</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="formularioCadastroUsuario">
        <div class="mb-3">
          <label for="nomeUsuario" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="nomeUsuario" formControlName="nomeUsuario">
        </div>
        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone:</label>
          <input type="text" class="form-control" id="telefone" formControlName="telefoneUsuario">
        </div>
        <div class="row mt-4">
          <div class="col">
            <button class="btn btn-secondary" routerLink="/">voltar</button>
          </div>
          <div class="col d-flex justify-content-end">
            <button class="btn btn-primary" (click)="cadastrarUsuario()">cadastrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-template #esconderFormulario>
    <div *ngIf="error$ | async; else loadingSucesso">
      <erro-generico [mensagemErro]="'Desculpe, erro ao cadastrar usuário'"></erro-generico>
    </div>
    <ng-template #loadingSucesso>
      <div *ngIf="usuarioCadastroSucesso; else loading">
        <div class="alert alert-success d-flex align-items-center flex-column" role="alert">
          <h3>Usuário cadastrado com sucesso!</h3>
          <span>voltando p/ tela incial: {{ tempo }}</span>
        </div>
      </div>
      <ng-template #loading>
        <spinner class="margin-top50"></spinner>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
