<div style="height: 100vh;">
  <div class="card card-detalhe-usuario">
      <!-- <div *ngIf="false as usuario; else loadingError"> -->
      <div *ngIf="usuario$ | async as usuario; else loadingError">
        <div class="card-header">
          <h1>{{ usuario.nome_usuario }} </h1>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <div class="blockquote fw-semibold">
              <p>Cartões utilizados:</p>
            </div>
          </div>

          <div class="card mt-3" *ngFor="let dividaCartao of usuario.dividas_usuario ">
            <div class="card-header">
              <div class="mb-0">
                <div class="blockquote d-flex justify-content-between mb-0">
                  <span class="fw-semibold">{{ dividaCartao.nome_cartao }}</span>
                  <span class="text-danger fw-semibold">{{ dividaCartao.valor_total | currency }}</span>
                </div>
              </div>
            </div>
            <div class="card-body p-0 pt-3">
              <div class="container text-center mb-3" *ngFor="let divida of dividaCartao.dividas_usuario">
                <div class="row">
                  <div class="col">
                    <span class="fw-semibold">{{ divida.data_compra | date:'dd/MM/yyyy' }}</span>
                  </div>
                  <div class="col">
                    <span class="fw-semibold">{{ divida.descricao_compra }}</span>
                  </div>
                  <div class="col">
                    <span class="fw-semibold">{{ divida.valor_compra | currency }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="blockquote d-flex justify-content-end">
              <span class="fw-semibold">Saldo devedor: <span class="text-danger fw-semibold">{{ usuario.saldo_devedor | currency }}</span></span>
            </div>
          </div>
          <div class="mt-3 d-flex">
            <div class="col">
              <button class="btn btn-secondary" routerLink="/">voltar</button>
            </div>
            <div class="col d-flex justify-content-end">
              <!-- <button class="btn btn-danger" [routerLink]="['/delete-cartao', usuario?.id]" >deletar</button> -->
            </div>
          </div>
        </div>
      </div>
      <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading">
          <div class="mb-3">
            <div class="blockquote d-flex align-items-center flex-column mt-3">
              <span class="fw-semibold">Erro ao carregar os detalhes do usuário</span>
              <button class="btn btn-outline-primary mt-3" (click)="onRecarregarUsuario()">tentar novamente</button>
            </div>
          </div>
        </div>
        <ng-template #loading>
          <spinner class="margin-top50"></spinner>
        </ng-template>
      </ng-template>
    </div>
</div>
